* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
}

#topbar-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	z-index: 99;
	background-color: #0c0a66;
	overflow-y: hidden;
	overflow-x: auto;
}

#topbar {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	height: 40px;
	box-sizing: border-box;
	color: #aaa;
}
#topbar > * {
	display: inline-block;
	height: 100%;
	line-height: 40px;
	vertical-align: middle;
	padding: 0 5px;
	float: left;
}
#topbar a:hover {
	background-color: #338;
	color: #fff;
}
#topbar a:link, #topbar a:visited, #topbar a:hover {
	text-decoration: none;
}
#topbar .board {
	color: #fff;
	font-size: 24px;
}
#topbar .board-label {
	font-size: small;
	vertical-align: middle;
}
#topbar > *.right {
	float: right;
	color: #aaa;
}

#logo {
	padding: 0 10px;
}
#logo:link, #logo:visited, #logo:hover {
	text-decoration: none;
	font-size: 24px;
	color: #ff6;
}

.small {
	font-size: small;
}

.bbs-content {
	font-family: "細明體", "AR PL UMing TW", "Inconsolata", "LiSongPro", monospace;
}

.b-ent .board {
    position: relative;
    display: block;
	padding: 0.5ex 0;
    width: 100%;
    text-decoration: none;
}
.b-ent .board > * {
    display: inline-block;
    font-size: normal;
    font-family: Inconsolata, sans-serif;
}

#navigation .board {
	padding: 0 10px;
}