* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}

::placeholder {
  color: #afafaf;
}

body {
  background: #008080;
}

.common-convex {
  border-width: 2px;
  border-style: solid;
  border-color: white #393939 #393939 white;
}

.common-concave {
  border-width: 2px;
  border-style: solid;
  border-color:#393939 white white #393939;
}

.common-btn {
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: #a0a0a0 #4c4c4c #4c4c4c #a0a0a0;
  background: #bdbdbd;
}

.common-btn::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: white #858585 #858585 white;
  background: transparent;
}

.common-btn:active {
  border-color:#4c4c4c #a0a0a0 #a0a0a0 #4c4c4c;
  padding-left: 3px;
  padding-top: 3px;
}

.common-btn:active::before {
  border-color:#858585 white white #858585;
}

.list-cover {
  display: flex;
  justify-content: center;
}

.list-area {
  margin-top: 200px;
  width: 640px;
  max-width: 640px;

}

.list-main {
  background: #bdbdbd;
}

.list-title {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 2px;
  padding-left: 4px;
  color: white;
  background: #000181;
}

.list-new-task {
  display: flex;
  align-items: center;
  height: 64px;
}

.new-task-input {
  flex-grow: 1;
  flex-shrink: 1;
  height: 36px;
  max-width: 540px;
  margin-left: 18px;
  padding-left: 12px;
}

.new-task-divider {
}

.new-task-btn {
  flex-shrink: 0;
  margin-left: 18px;
  margin-right: 18px;
  width: 48px;
  height: 36px;
}

.task-content {
  display: flex;
  align-items: center;
  margin: 36px 18px 36px 18px;
}

.task-sign {
  margin-top: -8px;
  margin-left: 6px;
}

.task-text {
  flex-grow: 1;
  margin-left: 18px;
  margin-right: 4px;
  word-break: break-all;
}

.task-btn {
  justify-content: start;
  flex-shrink: 0;
  width: 48px;
  height: 32px;
  margin-left: 12px;
}