.answer-text {
  position: absolute;
  left: 76px;
  bottom: 45px;
  line-height: 1.6rem;
  text-align: left;
}

.content-answer {
  position: relative;
  height: 84px;
  font-size: 0px;
  color: transparent;
  transition: height 0.2s;
}

.content-answer:hover,
.content-answer:active {
  position: relative;
  height: 170px;
  font-size: 16px;
  color: black;
  animation-name: answer-animation;
  animation-duration: 0.6s;
  animation-timing-function: ease;
}

.answer-text {
  position: absolute;
  left: 76px;
  bottom: 42px;
  line-height: 2rem;
  text-align: left;
}

@keyframes answer-animation {
  0% {
    height: 84px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0);
  }

  28% {
    height: 178px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.2);
  }

  50% {
    height: 166px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
  }

  66% {
    height: 172px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
  }

  88% {
    height: 170px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
  }

  100% {
    height: 170px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
  }
}


@media(max-width: 768px) {
  .content-answer:hover,
  .content-answer:active {
    position: relative;
    height: 200px;
    font-size: 16px;
    color: black;
    animation-name: answer-animation;
    animation-duration: 0s;
    animation-timing-function: ease;
  }
}